.ant-layout-header.header,
.header .ant-menu {
  position: relative;
  background: #b99cf0 !important;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.header .ant-menu li {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .ant-menu li.ant-menu-item:hover,
.header .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #f29cdd;
}

.logo {
  width: 5rem;
  height: 5rem;
  margin-right: 0.5rem;
}

.header .cart-icon {
  width: 1.5rem;
  fill: white;
  cursor: pointer;
  margin-left: 1rem;
}
/*amarillo #fdef96*/
.header .left-aligned-icons {
  display: flex;
}

.header .right-aligned-icons {
  display: flex;
  align-self: flex-end;
  height: 100%;
}
