{
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"]
      },
      "alias": {
        "map": [["src", "./src"]],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "react/prop-types": 0
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
