.search {
  position: relative;
  display: flex;
}

.search input {
  outline: none;
  -webkit-appearance: textfield;
  box-sizing: content-box;
  font-size: 100%;
  align-self: center;
  border: solid 1px transparent;
  border-radius: 10em;
  padding: 9px 10px 9px 32px;
  padding-left: 10px;
  height: max-content;
  width: 15px;
  color: transparent;
  cursor: pointer;
  transition: all 0.5s;
  background: transparent;
}

.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button {
  display: none;
}

.search input:focus {
  width: 130px;
  border-color: #faef96;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  background-position: 90% 50%;
  cursor: auto;
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

.header input:not(:focus)::placeholder {
  color: transparent !important;
}

.search input:not(:focus):hover {
  background-color: transparent;
  border-color: transparent;
}

.search i {
  position: absolute;
  color: white;
  font-size: 1.1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
