footer i.fab.fa-instagram {
  margin-right: 10px;
  float: left;
}

footer a.instagram-link,
footer a.facebook-link {
  color: gray;
  font-size: 2rem;
  display: inline-block;
}

footer i.fab.fa-facebook-square {
  margin-left: 10px;
  float: left;
}

footer i.fas.fa-credit-card {
  color: gray;
  font-size: 2rem;
  margin-right: 10px;
}

footer i.fas.fa-money-bill-wave {
  color: gray;
  font-size: 2rem;
  margin-left: 10px;
}

footer img.mercadopago-logo {
  width: 7rem;
  margin-top: 1rem;
}

footer img.correo-logo {
  width: 7rem;
}

footer img.delivery-icon {
  width: 3rem;
  margin-top: -5px;
  margin-bottom: 5px;
}

footer div.copyright {
  background: rgba(148, 148, 148, 0.8);
}
