@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@200&family=Barrio&family=Lexend+Giga&display=swap");

body {
  font-family: "Antonio", sans-serif !important;
  font-size: 1.3rem;
}

.slick-arrow::before {
  color: black !important;
}

.slick-prev {
  left: 24px !important;
}
.slick-next {
  right: 24px !important;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes s-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
