@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@200&family=Barrio&family=Lexend+Giga&display=swap");

body {
  font-family: "Antonio", sans-serif !important;
  font-size: 1.3rem;
}
@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
